<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="HelloWorldService" class="review.system.resources.impl.HelloWorldServiceImpl">
	</bean>
	<bean id="UserService" class="review.system.resources.impl.UserServiceImpl">
	</bean>
	<bean id="ReviewService" class="review.system.resources.impl.ReviewServiceImpl">
	</bean>
	<bean id="ContactService" class="review.system.resources.impl.ContactServiceImpl">
	</bean>
	<bean id="DeficiencyService" class="review.system.resources.impl.DeficiencyServiceImpl">
	</bean>
	<bean id="GroupService" class="review.system.resources.impl.GroupServiceImpl">
	</bean>
	<bean id="PositionService" class="review.system.resources.impl.PositionServiceImpl">
	</bean>
	<bean id="InvatationService" class="review.system.resources.impl.InvatationServiceImpl">
	</bean>
</beans>